{% set nix_python_version = (python_version | replace(".", "")) -%}
{
  description = {{ project_description | to_json(ensure_ascii=False) }};

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs";
    flake-utils.url = "github:numtide/flake-utils";
    poetry2nix = {
      url = "github:nix-community/poetry2nix";
      inputs.nixpkgs.follows = "nixpkgs";
      inputs.flake-utils.follows = "flake-utils";
    };
    pre-commit-hooks = {
      url = "github:cachix/pre-commit-hooks.nix";
      inputs = {
        nixpkgs.follows = "nixpkgs";
        flake-utils.follows = "flake-utils";
      };
    };
  };

  outputs = inputs@{ self, ... }:
    with inputs;
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = import nixpkgs { inherit system; };

        defaultOverrides =
          poetry2nix.legacyPackages.${system}.defaultPoetryOverrides;

        customOverrides = self: super: { };

        app = poetry2nix.legacyPackages.${system}.mkPoetryApplication {
          python = pkgs.python{{ nix_python_version }};
          projectDir = self;
          overrides = [ defaultOverrides customOverrides ];
        };

        env = poetry2nix.legacyPackages.${system}.mkPoetryEnv {
          python = pkgs.python{{ nix_python_version }};
          projectDir = self;
          overrides = [ defaultOverrides customOverrides ];
        };
      in {
        packages = rec {
          default = app;
          {{ project_name }} = default;
        };
{% if is_app %}
        apps = rec {
          default = {
            type = "app";
            program = "${self.packages.${system}.default}/bin/{{ project_name }}";
          };
          {{ project_name }} = default;
        };
{% endif %}
        devShells.default = pkgs.mkShell {
          inherit (self.checks.${system}.pre-commit-check) shellHook;
          packages = with pkgs; [
            # Nix
            nixpkgs-fmt
            rnix-lsp
            statix

            # Python
            inputs.poetry2nix.packages.${system}.poetry
            env

            # TOML
            taplo
          ];
        };

        formatter = pkgs.nixpkgs-fmt;

        checks = {
          pre-commit-check = pre-commit-hooks.lib.${system}.run {
            src = ./.;
            hooks = {
              nixpkgs-fmt.enable = true;
              autoflake.enable = true;
              black = {
                enable = true;
                entry = pkgs.lib.mkForce "${env}/bin/black";
              };
              isort = {
                enable = true;
                entry = pkgs.lib.mkForce "${env}/bin/isort";
              };
              taplo.enable = true;
              copier-rejects = {
                enable = true;
                entry =
                  "found Copier update rejection files; review them and remove them";
                files = "\\.rej$";
                language = "fail";
              };
            };
            settings = {
              autoflake = {
                binPath = "${env}/bin/autoflake";
                flags = builtins.concatStringsSep " " [
                  "--in-place"
                  "--remove-all-unused-imports"
                  "--remove-duplicate-keys"
                  "--remove-unused-variables"
                  "--expand-star-imports"
                ];
              };
            };
          };
        };
      });
}
