[tool.poetry]
name = "{{ project_name }}"
version = "0.1.0"
description = {{ project_description | to_json(ensure_ascii=False) }}
authors = ["Corin Hoad"]
license = "BSD-2-Clause-Patent"

[tool.poetry.dependencies]
python = "^{{ python_version }}"
{% if is_app %}
[tool.poetry.scripts]
{{ project_name }} = "{{ project_name }}.main:main"
{% endif %}
[tool.poetry.group.dev.dependencies]
autoflake = ">=2.0.1"
black = ">=23.1.0"
bpython = ">=0.24"
isort = ">=5.12.0"
{%- if use_mypy %}
mypy = ">=0.991"
{%- endif %}
pylint = ">=2.16.1"
{%- if use_mypy %}
pylsp-mypy = ">=0.6.5"
{%- endif %}
pylsp-rope = ">=0.1.11"
{% if has_tests -%}
pytest = ">=7.2.1"
{% endif -%}
python-lsp-black = ">=1.2.1"
python-lsp-server = ">=1.7.1"

[tool.black]
line-length = 80
target-version = ["py{{ (python_version | replace(".", "")) }}"]

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 80
overwrite_in_place = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
